#BG-img{
    background-image: url(https://media.giphy.com/media/kegHnC7EtTjZhHF0q6/giphy.gif);
    background-size: cover;
    height: 200vh;
}
h3{
    color:white;
    padding-bottom: 10px;
}

main {
    display: grid;

    height: 105vh;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, );
    grid-template-areas: 
    ". . a a a a a a a a . ."
    ". . . . . . . . . . . ."
    ". b b b b b b b b b b ."
    ". b b b b b b b b b b ." 
    ". b b b b b b b b b b ."
    ". b b b b b b b b b b ."
    ". . . . . . . . . . . ."
    ". c c c c c c c c c c ."
    ". . . . . . . . . . . ."
    ". d d d d d d d d d d ."
    ". . . . . . . . . . . ."
    ". e e e e e e e e e e ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
   
    


  }
  p{
    color: white;
    font-size: large;
  }
  

  
  #one {
    background-color: black;
    color: white;
    text-align: center;
    grid-area: a;
  } 

  #two {
    background-color: black;
    grid-area: b;
  }

  .hotel-div{
    background-color: black;
    grid-area: c;
    margin-top: 20px;
  }

  .food-div{
    background-color: black;
    grid-area: d;
  }

  .bars-div{
    background-color: black;
    grid-area: e;
  }

 .flex-container{
    display: flex;
 }
  .card-div{
    margin-left: 15px;
    margin-top: 10px;
  }
 .price-div{
    margin-left: 20px;
    margin-top: 10px;
 }