#BG-img{
    background-image: url(https://media.giphy.com/media/kegHnC7EtTjZhHF0q6/giphy.gif);
    background-size: cover;
}

main {
    display: grid;

    height: 105vh;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
    ". . a a a a a a a a . ."
    ". . . . . . . . . . . ."
    ". b b b b b b b b b b ."
    ". b b b b b b b b b b ." 
    ". b b b b b b b b b b ."
    ". b b b b b b b b b b ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    ". . . . . . . . . . . ."
    


  }
  
  
  #one {
    background-color: white;
    text-align: center;
    grid-area: a;
  } 

  #two {
    background-color: black;
    grid-area: b;
  }