

#BG-img{
    background-image: url(https://media.giphy.com/media/kegHnC7EtTjZhHF0q6/giphy.gif);
    background-size: cover;
    
}

h1,
h2,
h3,
h4,
h5,
h6
{
    color: aliceblue;
    padding-right:5px;
}


/* #side-bar{
    width: 30%;
    height: 100vh;
    background-color: black;
    float: left;
}

.flex-vertical-center {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* main {
    display: grid;

    height: 105vh;
  
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-template-areas: 
    "a a a . . . . . . . . ."
    "a a a . . . . . . . . ."
    "a a a . . . . . . . . ."
    "a a a . . . . . . . . ." 
    "a a a . . . . . . . . ."
    "a a a . . . . . . . . ."
    "a a a . . . . . . . . ."
    "a a a . . . . . . . . ."
    "a a a . . . . . . . . ."
    "a a a . . . . . . . . ."


  } */
  
  .segment {
    flex-direction:column;
  }
  
  #sideBar {
    background-color: black;
    opacity:70%;
    grid-area: a;
    height: 100vh;
    width: 25%;
    flex-shrink: 0;
   
  } 

  .content {
    background-color: black;
    grid-area: b;
    opacity:70%;
    width: 80%;
    border-radius: 7px;
    margin-top: 15px;
    padding-left: 7px;
    padding-right: 7px;
    
    
  }
  .content-flex{
    display: flex;
    
  
  }
  
  .intro-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  
  .content h1 {
    text-align:center;
  }


  /* #three{
    background-color: black;
    color: white;
    grid-area: c;
  } */

  p, div{
    color: white;
    font-size: large;
  }
  .event-list-card{
    padding-bottom: 10px;
    background-color: black;
    width: 100%;
    
  }
  #event-list-parent{
    width: 90%;
  }
  
  .hide-me{
    display: none;
  }

  @media screen and (max-width: 480px) {

    #sideBar {
      width: 37%;
      
     
    } 
  }
  